header {
 background-color: black;
 
}

.contenedor
{
  display: flex;
    align-content: flex-end;
    

}

header nav a{
 color: white;
   text-decoration: none;
   margin: 10px;
}

header nav a:hover{

    color: tomato;
}


footer{
    height: 100px;
    background-color: black;
    text-align: center;
    color: white;

}

footer i{
    color: white;
 
}

footer i:hover{
    color: tomato;
}


.container {  display: grid;
    grid-template-columns: 0.5fr 1fr 0fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Area-1 descripcion1 ."
      "Area-2 descripcion2 ."
      "Area-3 descripcion3 ."
      "Area-4 descripcion4 .";
      text-align: justify;
  }
  
  .Area-1 { grid-area: Area-1; 
            
           }
  
  .descripcion1 { grid-area: descripcion1; }
  
  .Area-2 { grid-area: Area-2; }
  
  .descripcion2 { grid-area: descripcion2; }
  
  .Area-3 { grid-area: Area-3; }
  
  .descripcion3 { grid-area: descripcion3; }
  
  .Area-4 { grid-area: Area-4; }
  
  .descripcion4 { grid-area: descripcion4; }
  
  .Area-1, .Area-2, .Area-3, .Area-4{
    font-family:fantasy, Arial, Helvetica, sans-serif;
    font-size:1.0em;
    vertical-align:middle;
    font-weight:normal;
    text-transform:uppercase;
    font-weight: bold; 
    font-style: italic;
  }
  

  .text-justify {
    text-align: justify;
  }

  .img {
    box-sizing:border-box;
    display:block;
    width:300px;        /*Ancho de la imagen*/
    height:150px;       /*Alto de la imagen */
    
  }
  
  